<ng-container *ngIf="flag; else noflights">
  <table class="flightList__table">
    <thead>
      <tr>
        <th class="item__carrier-head">
          Carrier
        </th>
          <th class="item__departure-airport">
            A/C Type
          </th>
          <th class="item__flight-number">
            Flight No.
          </th>
          <th class="item__departure-airport">
            From
          </th>
          <th class="item__arrival-airport">
            To
          </th>
          <th class="item__flight-start-date">
            Dep. Date
          </th>
          <th class="item__flight-confirm"></th>
      </tr>
    </thead>
    <tbody>
    <tr class="flightList__item">
      <td class="item__carrier">
        {{carrier}}
      </td>
      <td class="item__departure-airport">
        {{setAircraftType()}}
      </td>
      <td class="item__flight-number">
        {{flightNumber}}
      </td>
      <td class="item__departure-airport">
        {{airport.departureAirport}}
      </td>
      <td class="item__arrival-airport">
        {{airport.arrivalAirport}}
      </td>
      <td class="item__flight-start-date">
        {{airport.flightStartDate | date: 'mediumDate'}}
      </td>
      <td>
        <button mat-raised-button color="accent" (click)="showEnum() && setAircraftForService()">{{this.dataShareService.buttonText}}</button>
      </td>
    </tr>
    </tbody>
  </table>
  <h3>Current weather at <span class="primary__color">{{airport.arrivalAirport}}</span></h3>
  <div class="weather__box">
    <div class="weather__item">
      <p class="weather__text">Weather</p>
      <img src="{{imgSrcPath}}" alt="">
      <p class="img__text">{{weather.wxDescription | uppercase}}</p>
    </div>
    <div class="weather__item">
      <p class="weather__text">Min temperature</p>
      <mat-icon class="material-icons-outlined">
        thermostat
      </mat-icon>
      <p class="weather__data">{{weather.minTemp}}</p>
    </div>
    <div class="weather__item">
      <p class="weather__text">Max temperature</p>
      <mat-icon class="material-icons-outlined">
        thermostat
      </mat-icon>
      <p class="weather__data">{{weather.maxTemp}}</p>
    </div>
  </div>
</ng-container>
<ng-template #noflights>
  <div class="no__flights">
    <h2 class="no__flights-title">Sorry no flights for you</h2>
    <p class="no__flight-description">Firstly fill form on the left hand side <mat-icon>edit_note</mat-icon></p>
  </div>
</ng-template>
