.flightList__table {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #673AB7;
  padding-bottom: 10px;

  thead {

    tr {

      th {
        text-align: left;
        color: #673AB7;

        @media (max-width: 767px) {
          margin-bottom: 5px;
        }
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;


        th:nth-child(2n+2) {
          background-color: #BDBDBD;
        }
      }
    }
  }

  tbody {

    tr {

      td {
        text-align: left;
        font-weight: bold;

        button {
          color: #673AB7;
        }

        @media (max-width: 767px) {
          padding-left: 20px;
          margin-bottom: 5px;
        }
      }

      td:last-child {
        text-align: right;
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;

        td:nth-child(2n+2) {
          background-color: #BDBDBD;
        }
      }
    }

    @media (max-width: 767px) {
      flex-grow: 2;
    }
  }

  @media (max-width: 1000px) {
    margin: 10px;
  }

  @media (max-width: 767px) {
    display: flex;
    padding: 0 10px;
    width: auto;
  }
}

h3 {
  padding: 0 40px;

  .primary__color {
    color: #673AB7;
    font-weight: bold;
  }
}

.weather__box {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;

  .weather__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .weather__text {
      font-weight: bold;
    }

    .weather__data {
      justify-self: flex-end;
    }

    img {
      width: 70px;
      height: 70px;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.no__flights {
  text-align: center;
}



:host ::ng-deep .mat-checkbox-frame {
  border-color: white;
}
