

.flightList__list {
  padding-right: 40px;

  .flightList__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    border-right: 5px;
    background-color: #673AB7;
    color: #fff;
    padding: 10px;

    div {
      width: 10%;
    }

    .item__carrier {

      .item__carrier-text {
        margin: 0;
      }
    }
  }
  .flightList__item--header {
    @extend .flightList__item;
    border-bottom: 1px solid #fff;
  }
}

h3 {
  padding: 0 40px;

  .primary__color {
    color: #673AB7;
    font-weight: bold;
  }
}

.weather__box {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;

  .weather__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .weather__text {
      font-weight: bold;
    }

    .weather__data {
      justify-self: flex-end;
    }

    img {
      width: 70px;
      height: 70px;
    }
  }
}

.no__flights {
  text-align: center;
}



:host ::ng-deep .mat-checkbox-frame {
  border-color: white;
}
