<ng-container *ngIf="flag; else noflights">
  <ul class="flightList__list">
    <li class="flightList__item--header">
      <div class="item__carrier">
        Carrier
      </div>
      <div class="item__departure-airport">
        A/C Type
      </div>
      <div class="item__departure-airport">
        From
      </div>
      <div class="item__arrival-airport">
        To
      </div>
      <div class="item__flight-start-date">
        Dep. Date
      </div>
      <div class="item__flight-confirm"></div>
    </li>
    <li class="flightList__item">
      <div class="item__carrier">
<!--        <img class="company__logo" src="./assets/img/lot-2.png" alt="">-->
        <h4 class="item__carrier-text">{{carrier}}</h4>
      </div>
      <div class="item__departure-airport">
        {{setAircraftType()}}
      </div>
      <div class="item__departure-airport">
        {{airport.departureAirport}}
      </div>
      <div class="item__arrival-airport">
        {{airport.arrivalAirport}}
      </div>
      <div class="item__flight-start-date">
        {{airport.flightStartDate | date: 'mediumDate'}}
      </div>
      <button mat-raised-button color="accent" (click)="showEnum() && setAircraftForService()">{{this.dataShareService.buttonText}}</button>
    </li>
  </ul>
  <h3>Current weather at <span class="primary__color">{{airport.arrivalAirport}}</span></h3>
  <div class="weather__box">
    <div class="weather__item">
      <p class="weather__text">Weather</p>
      <img src="{{imgSrcPath}}" alt="">
      <p class="img__text">{{weather.wxDescription | uppercase}}</p>
    </div>
    <div class="weather__item">
      <p class="weather__text">Min temperature</p>
      <mat-icon class="material-icons-outlined">
        thermostat
      </mat-icon>
      <p class="weather__data">{{weather.minTemp}}</p>
    </div>
    <div class="weather__item">
      <p class="weather__text">Max temperature</p>
      <mat-icon class="material-icons-outlined">
        thermostat
      </mat-icon>
      <p class="weather__data">{{weather.maxTemp}}</p>
    </div>
  </div>
</ng-container>
<ng-template #noflights>
  <div class="no__flights">
    <h2 class="no__flights-title">Sorry no flights for you</h2>
    <p class="no__flight-description">Firstly fill form on the left hand side <mat-icon>edit_note</mat-icon></p>
  </div>
</ng-template>
