<div class="l-main">
  <ul class="summary__list">
    <li class="summary__item-title">
      Passenger
      <div class="summary__item-data"></div>
    </li>
    <li class="summary__item-title">
      Passport/ID
      <div class="summary__item-data">{{reservation.reservationNumber}}</div>
    </li>
    <li class="summary__item-title">
      Flight No.
      <div class="summary__item-data"></div>
    </li>
    <li class="summary__item-title">
      From
      <div class="summary__item-data"></div>
    </li>
    <li class="summary__item-title">
      To
      <div class="summary__item-data"></div>
    </li>
    <li class="summary__item-title">
      Equipment
      <div class="summary__item-data"></div>
    </li>
    <li class="summary__item-title">
      Flight Date
      <div class="summary__item-data"></div>
    </li>
    <li class="summary__item-title">
      Departure Time
      <div class="summary__item-data"></div>
    </li>
  </ul>
</div>


