.main__container {
  height: 40vh;
  display: flex;
  justify-content: space-around;
}

.main__container-item {
  outline: 1px solid orange;
  width: 50%;
  margin: 20px;
}

.title__form--airport {
  text-align: center;
}
.form__airport-item {
  display: flex;
  align-items: center;
}

.icon-airport {
  margin-right: 20px;
}
.main__form--airport {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
 mat-form-field {
   width: 50%;
 }


