.main__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .main__container-item {
    width: 50%;
    margin: 20px;

    .title__form--airport {
      text-align: center;
    }

    .main__form--airport {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      .form__airport-item {
        display: flex;
        align-items: center;

        .icon-airport {
          margin-right: 20px;
        }

        mat-form-field {
          width: 50%;
        }
      }

      .form__button--right {
        justify-content: flex-end;
        padding-right: 40px;

        button {
          margin: 0 10px;
        }
      }
    }
  }
  .main__container-item--border {
    border-right: 1px solid #673AB7;
    width: 40%;
  }

  .main__container-item--full {
    width: 100%;
  }
}












