<div class="main__container">
  <div class="main__container-item main__container-item--border">
    <h2 class="title__form--airport">{{titleTextFormAirport | uppercase}}</h2>
    <div class="main__form--airport">
      <div class="form__airport-item">
        <span class="material-icons icon-airport">flight_takeoff</span>
        <mat-form-field appearance="standard">
          <mat-label>From</mat-label>
          <mat-select [(ngModel)]="userChoiceOfFlight.departureAirport">
            <mat-option *ngFor="let depAirport of departureAirports" [value]="depAirport.name">
              {{depAirport.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form__airport-item">
        <span class="material-icons icon-airport">flight_land</span>
        <mat-form-field appearance="standard">
          <mat-label>To</mat-label>
          <mat-select [(ngModel)]="userChoiceOfFlight.arrivalAirport" [disabled]="!userChoiceOfFlight.departureAirport ? true : false">
            <mat-option *ngFor="let arrAirport of arrivalAirports" [value]="arrAirport.name">
              {{arrAirport.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form__airport-item">
        <span class="material-icons icon-airport">event</span>
        <mat-form-field appearance="standard">
          <mat-label>Choose Departure Date</mat-label>
          <input matInput
                 [matDatepicker]="datepicker"
                 [min]="minDate" [max]="maxDate"
                 [(ngModel)]="userChoiceOfFlight.flightStartDate">
          <mat-datepicker-toggle matSuffix [for]="datepicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker touchUi #datepicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form__airport-item form__button--right">
        <button mat-raised-button color="primary" [disabled]="!getAllValues()" (click)="showAvailableFlights() && getWeather() && getCarrier() && getArrivalAirports()">Confirm</button>
        <button mat-raised-button color="warn" (click)="resetValue()">Reset</button>
      </div>
    </div>
  </div>
  <div class="main__container-item">
    <app-flights-option [flag]="flag" [airport]="userChoiceOfFlight" [carrier]="carrier" [flightNumber]="flightNumber" [weather]="tempCity" [imgSrcPath]="imgSrcPath"></app-flights-option>
  </div>
  <div class="main__container-item--full">
    <app-seat-guru></app-seat-guru>
  </div>
</div>
