<div class="user-data__container">
  <form action="" class="user-data__form">
    <div class="user-data__item user-data__personal">
      <label>Personal Data</label>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <mat-select>
          <mat-option *ngFor="let title of titles" [value]="title">
            {{title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field><mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="user-data__item user__data-document">
      <label>Passport/ID</label>
      <mat-form-field>
        <mat-label>Seria</mat-label>
        <input matInput placeholder="Ex. ABC">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number</mat-label>
        <input matInput type="number" placeholder="Ex. 0123456">
      </mat-form-field>
    </div>
    <div class="user-data__item user-data__address">
      <label>Address</label>
      <mat-form-field>
        <mat-label>Street Name</mat-label>
        <input matInput placeholder="Ex. Brook Street">
      </mat-form-field>
      <mat-form-field>
        <mat-label>House Number</mat-label>
        <input matInput type="number" placeholder="Ex. 30">
      </mat-form-field>
        <mat-form-field>
        <mat-label>Flat number</mat-label>
        <input matInput type="number" placeholder="Ex. 30">
      </mat-form-field>
        <mat-form-field>
        <mat-label>Postal Code</mat-label>
        <input matInput type="number" placeholder="Ex. 31-687">
      </mat-form-field>
        <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. Krakow">
      </mat-form-field>
    </div>
    <div class="user-data__item user-data__contact">
      <label>Contact</label>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ex. test@test.pl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <span matPrefix>+&nbsp;&nbsp;
          <mat-select>
            <mat-option *ngFor="let prefix of prefixes" [value]="prefix">{{prefix}}</mat-option>
          </mat-select>
        </span>
        <input matInput type="tel" placeholder="Ex. 555-555-555">
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary" routerLink="/booking/userData/summary">Proceed to summary</button>
  </form>
</div>
