.user-data__container {
  padding: 40px 40px;

  .user-data__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .user-data__item {
      width: 49%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      mat-form-field {
        width: 50%;
      }

      label {
        font-weight: bold;
      }
    }
  }
}
