<mat-toolbar color="primary">
  <span class="brand__name" routerLink="/">
    FlyingTickets
    <img  class="brand__logo" src="./assets/img/logo.svg" alt="logo" routerLink="/">
  </span>
  <ul class="nav__container">
    <li class="nav__item">
      <a routerLink="/">Home</a>
    </li>
    <li class="nav__item">
      <a routerLink="/booking">Tickets</a>
    </li>
    <li class="nav__item">
      <a href="">Account</a>
    </li>
    <li class="nav__item">
      <a href="">Contact</a>
    </li>
  </ul>
</mat-toolbar>
