<mat-toolbar color="primary">
  <span class="brand__name" routerLink="/">
    FlyingTickets
    <img  class="brand__logo" src="./assets/img/logo.svg" alt="logo" routerLink="/">
  </span>
    <ul class="nav__container">
      <li class="nav__item">
        <a routerLink="/start" routerLinkActive="active__link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav__item">
        <a routerLink="/booking" routerLinkActive="active__link">Tickets</a>
      </li>
      <li class="nav__item">
        <a href="">Account</a>
      </li>
      <li class="nav__item">
        <a routerLink="/contact" routerLinkActive="active__link">Contact</a>
      </li>
    </ul>
    <button class="menu__button-mobile" (click)="showMobileMenu()" mat-raised-button>
      <span class="material-icons">
        menu
      </span>
    </button>
</mat-toolbar>
<ng-container *ngIf="mobileMenu" >
  <ul [ngClass]="{mobile__menu: mobileMenu === true}">
    <li class="nav__item">
      <span class="material-icons">
        home
      </span>
      <a routerLink="/start" routerLinkActive="active__link" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav__item">
      <span class="material-icons">
        airplane_ticket
      </span>
      <a routerLink="/booking" routerLinkActive="active__link">Tickets</a>
    </li>
    <li class="nav__item">
      <span class="material-icons">
        account_circle
      </span>
      <a href="">Account</a>
    </li>
    <li class="nav__item">
      <span class="material-icons">
        contacts
      </span>
      <a routerLink="/contact" routerLinkActive="active__link">Contact</a>
    </li>
  </ul>
</ng-container>
